@model HamuaHapuRegistration.Models.HapuMember

@{
    ViewData["Title"] = "Register";
}

<h1>Register with Hāmua Hapū</h1>

<hr />
<div class="row">

    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="MiddleName" class="control-label"></label>
                                <input asp-for="MiddleName" class="form-control" placeholder="Middle Name" />
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Surname" class="control-label"></label>
                                <input asp-for="Surname" class="form-control" placeholder="Family Name" />
                                <span asp-validation-for="Surname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label asp-for="Birthplace" class="control-label"></label>
                                <input asp-for="Birthplace" class="form-control" placeholder="Birth Place" />
                                <span asp-validation-for="Birthplace" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="DOB" class="control-label"></label>
                                <input asp-for="DOB" class="form-control" />
                                <span asp-validation-for="DOB" class="text-danger"></span>
                            </div>*@
                    </div>
                    <div class="carousel-item">

                        <div class="form-group">
                            <label asp-for="HomePhone" class="control-label"></label>
                            <input asp-for="HomePhone" class="form-control" placeholder="HomePhone" />
                            <span asp-validation-for="HomePhone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mobile" class="control-label"></label>
                            <input asp-for="Mobile" class="form-control" placeholder="Mobile" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddress" class="control-label"></label>
                            <input asp-for="EmailAddress" class="form-control" placeholder="EmailAddress" />
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="carousel-item">

                        <div class="form-group">
                            <label asp-for="Street" class="control-label"></label>
                            <input asp-for="Street" class="form-control" placeholder="Street" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Suburb" class="control-label"></label>
                            <input asp-for="Suburb" class="form-control" placeholder="Suburb" />
                            <span asp-validation-for="Suburb" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" placeholder="City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostCode" class="control-label"></label>
                            <input asp-for="PostCode" class="form-control" placeholder="PostCode" />
                            <span asp-validation-for="PostCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="carousel-item">

                        <div class="form-group">
                            <label asp-for="Occupation" class="control-label"></label>
                            <input asp-for="Occupation" class="form-control" placeholder="Occupation" />
                            <span asp-validation-for="Occupation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-danger btn-prev float-left" href="#carouselExampleFade" role="button" data-slide="prev">
                        Previous
                    </a>

                    <a class="btn btn-primary btn-next float-right" href="#carouselExampleFade" role="button" data-slide="next">
                        Next
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Create" class="btn btn-primary btn-submit" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        // Write your JavaScript code.
        $('.carousel').carousel(
            {
                interval: false,
            });
        //Hide buttons

        //Get number of pages for form
        var formPages = $('.carousel-item').length;
        var min = 0;
        var max = formPages - 1;

        $('#carouselExampleFade').on('slide.bs.carousel', function (event) {
            // do something…
            var to = event.to;
            if (to < 1) {
                $('.btn-prev').hide();
            } else {
                $('.btn-prev').show();
            }

            if (to === max) {
                $('.btn-next').hide();
                $('.btn-submit').show();
            }
            else {
                $('.btn-next').show();
                $('.btn-submit').hide();
            }

        });
    </script>
}