@{
    ViewData["Title"] = "About Waikirikiri";
}
@*<img src="~/img/Marae-Preview-ConvertImage (3).png" class="about-us-image" alt="Waikirikiri" />*@
<div class="row">
    <div class="col-sm-12 pepeha">
        <h2>Ko Parekohe te maunga</h2>
        <h2>Ko Ōhinemataroa te awa</h2>
        <h2>Ko Waikirikiri te marae</h2>
        <h2>Ko Toi Kairākau te wharepuni</h2>
        <h2>Ko Kura-i-mōnoa te wharekai</h2>
        <h2>Ko Hāmua – Ngāti Mura ngā hapū</h2>
        <h2>Ko Ngai Tūhoe te iwi</h2>
    </div>
</div>
<div class="about-content">
    <div class="row">
        <div class="col-sm-12 purpose">
            <h2>Our Purpose</h2>
            <p>The purpose of Hāmua&#39;s hapū registration database is threefold:</p>
            <ol>
                <li>Gain a clear understanding of our hapū’s profile (overall population; place of residence; age bands of hapū members; proficiency in te reo etc) </li>
                <li>Allow Waikirikiri Marae Committee to develop a strategic approach to the needs of our hapū</li>
                <li>Increase communication between Waikirikiri&#39;s Marae Committee and descendants of Hāmua</li>
            </ol>
            <h3>
                Why Register?
            </h3>

            <ul>
                <li>Connect with Waikirikiri marae and Hāmua nui tonu</li>
                <li>Update the whakapapa of Hāmua</li>
                <li>Stay up to date with marae and hapū developments and initiatives</li>
                <li>Can assist with the future of Waikirikiri and Hāmua whether near or far</li>
            </ul>
        </div>
    </div>
    <div class="committee-members">
        <div class="row">
            <div class="col-sm-12">
                <h2>Committee Members</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="committee-member-img-container img-thumbnail">
                    <img class="committee-member" src="~/img/WMCChair-RamekaTuhaka.jpg" />
                </div>
            </div>
            <div class="col-sm-8 committe-member-blurb">
                <h3>Rāmeka (Ray) Tuhaka - Chairman</h3>
                <p>
                    Ko Rāmeka Tuhaka tōku ingoa. Ko Ani rāua ko Armis ōku pākeke. No Rangitukia ki Tikitiki taku Pāpā. Nō Rūātoki taku Māmā.
                </p>
                <p>
                    Ko au te Tiamana o te Komiti o te Marae o Waikirikiri. Kei Tūhoe Hauora ahau e mahi ana. Ko taku mahi, he kimi awhina mo ngā tangata haua/whai kaha(Disability Support Services) I roto i o rātau kainga. Ko aku kai reka rawa ki ahau ko ngā kai o te marae.
                </p>
                <p>
                    Ko Rūātoki Sports and Cultural Club te tino karapu o te ao! Ko taku harikoa ka kite ana I ngā tāngata Pakeke/Rangatahi/Tamariki o te hapū o Hāmua/Ngāti Mura kua eke ki roto I nga tohu teitei o te Hakinakina, I roto I ngā kura puta noa ki ngā Whare Wananga. Otira puta noa ki te whārua o Rūātoki. Mauri Ora.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="committee-member-img-container img-thumbnail">
                    <img class="committee-member" src="~/img/AtaRuawai-Treasurer.jpg" />
                </div>
            </div>
            <div class="col-sm-8 committe-member-blurb">
                <h3>Ata Ruawai - Treasurer</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="committee-member-img-container img-thumbnail">
                    <img class="committee-member" src="~/img/MereDillon-Secretary.jpg" />
                </div>
            </div>
            <div class="col-sm-8 committe-member-blurb">
                <h3>Mere Dillon - Secretary</h3>
                <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
            </div>
        </div>
        <hr />
    </div>
</div>
@section Scripts {
    <script type="text/javascript"></script>

}