@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<div>

    <p>Please forward any feedback and/or enquiries to our <a href="mailto:waikirikiri51@gmail.com?subject=Mail from Our Site"></a></p>
</div>