@{
    ViewData["Title"] = "Home Page";
}
<img src="~/img/Marae-Preview-ConvertImage (3).png" class="bg" alt="Waikirikiri" />
<div class="register-container center">
    <h2>Register now and stay up to date with marae and hapū developements and initiatives</h2>
    <a class="btn btn-primary" asp-area="" asp-action="Register">Register</a>
</div>