@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron jumbotron-fluid">
        <div class="col-sm-6 img-container">
            <img src="~/img/Marae Preview.jpg" />
        </div>
        <div class="col-sm-6 header-container">
        </div>
    </div>*@
<div>
    <h1 class="display-4">Hāmua's Hapū Registration Database</h1>

    <p>
        The purpose of Hāmua's hapū registration database is to increase communication between Waikirikiri's Marae Committee and descendants of Hāmua.
        The database is provided by and cared for by the Waikirikiri Marae Committee only.
    </p>
    <p>
        By registering as a Hāmua hapū member you:
    </p>

    <ul>
        <li>Connect with Waikirikiri marae and Hāmua nui tonu</li>
        <li>Update the whakapapa of Hāmua</li>
        <li>Stay up to date with marae and hapū developements and initiatives</li>
        <li>Can assist with the future of Waikirikiri and Hāmua whether near or far</li>
    </ul>
    <p>
        By completing Hāmua's online registration form facilitated by Waikirikiri's Marae Committee, we will ensure the information you provide will only be used by the Committee of Hāmua, for hapū initiatives.  This information will not be passed onto a Third party.
    </p>
    <p>
        You have the right to call back any information you provide, with no reason or justification for this recall.
    </p>
    <p>
        You have the right to access your information at any time.
    </p>
    <p>
        You have the right to have your information passed onto a third party if you so wish.
    </p>
    <a class="btn btn-primary" asp-area="" asp-action="Register">Register Now</a>
</div>