@{
    ViewData["Title"] = "Home Page";
}
<img src="~/img/Marae-Preview-ConvertImage (3).png" class="bg" alt="Waikirikiri" />
<div class="register-container  text-center">
    <h1 class="home-heading">Waikirikiri Marae</h1>
    <a class="header-link" asp-area="" asp-action="Register">Register Now</a>
</div>