@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@{
    ViewData["Title"] = "Home Page";
}

<div>

    <p>
        The purpose of Hāmua's hapū registration database is to increase communication between Waikirikiri's Marae Committee and descendants of Hāmua.
        The database is provided by and cared for by the Waikirikiri Marae Committee only.
    </p>
    <p>
        Why Register?
    </p>

    <ul>
        <li>Connect with Waikirikiri marae and Hāmua nui tonu</li>
        <li>Update the whakapapa of Hāmua</li>
        <li>Stay up to date with marae and hapū developements and initiatives</li>
        <li>Can assist with the future of Waikirikiri and Hāmua whether near or far</li>
    </ul>
    <p>
        Waikirikiri's Marae Committee, we will ensure the information you provide will only be used by the Committee of Hāmua, for hapū initiatives.
    </p>
    <p>This information will not be passed onto a Third party.</p>
</div>