@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron jumbotron-fluid">
        <div class="col-sm-6 img-container">
            <img src="~/img/Marae Preview.jpg" />
        </div>
        <div class="col-sm-6 header-container">
        </div>
    </div>*@
<div class="register-success-msg">
    <h2>Thank you for registering with the Waikirikiri Marae Committee</h2>
    <p>
        Confirmation of your registration will be emailed to the email address you have
        provided
    </p>
</div>